.git
.github
.circleci
.vscode
.claude
*_hdi_settings.json
*.ps1
*.sh
*.md
venv
**/__pycache__
*.egg-info
.pytest_cache
.mypy_cache
*.code-workspace
tests
nginx
docker-compose.yml
.pylintrc
mypy.ini
pyrightconfig.json
.env
*.cfg
requirements-dev.txt
