setuptools>=68.0.0
uvicorn[standard]==0.29.0
fastapi==0.111.0
pydantic==2.7.1
gunicorn==22.0.0
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
joblib==1.4.2
eli5==0.13.0
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
